package pages

import (
	"github.com/starfederation/datastar-go/datastar"
	"northstar/app/features/common/components"
	"northstar/app/features/common/layouts"
	web "northstar/app/features/index/web"
)

templ IndexPage(title string) {
	@layouts.Base(title, web.StaticPath("styles/index.css")) {
		<main class="container">
			@components.Navigation(components.PageIndex)
			<article>
				<div id="todos-container" data-on-load={ datastar.GetSSE("/api/todos") }></div>
			</article>
		</main>
	}
}
