/* 
    ____  _______    ____________  _____ ______
   / __ \/ ____/ |  / / ____/ __ \/ ___// ____/
  / /_/ / __/  | | / / __/ / /_/ /\__ \/ __/   
 / _, _/ /___  | |/ / /___/ _, _/___/ / /___   
/_/ |_/_____/  |___/_____/_/ |_|/____/_____/   
                                               
*/

.reverse-result {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
