@import "@picocss/pico/css/pico.min.css";
@import "open-props/style";

:root {
  --pico-font-family: var(--font-monospace-code);
  --pico-nav-element-spacing-horizontal: var(--size-3);
}

/* light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
  --pico-text-selection-color: var(--purple-3);
  --pico-primary: var(--purple-8);
  --pico-primary-background: var(--purple-7);
  --pico-primary-underline: var(--purple-6);
  --pico-primary-hover: var(--purple-9);
  --pico-primary-hover-background: var(--purple-8);
  --pico-primary-focus: var(--purple-5);
  --pico-primary-inverse: #fff;
}

/* dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {
    --pico-text-selection-color: var(--purple-4);
    --pico-primary: var(--purple-4);
    --pico-primary-background: var(--purple-7);
    --pico-primary-underline: var(--purple-5);
    --pico-primary-hover: var(--purple-2);
    --pico-primary-hover-background: var(--purple-6);
    --pico-primary-focus: var(--purple-3);
    --pico-primary-inverse: #fff;
  }
}
/* dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-text-selection-color: var(--purple-4);
  --pico-primary: var(--purple-4);
  --pico-primary-background: var(--purple-7);
  --pico-primary-underline: var(--purple-5);
  --pico-primary-hover: var(--purple-2);
  --pico-primary-hover-background: var(--purple-6);
  --pico-primary-focus: var(--purple-3);
  --pico-primary-inverse: #fff;
}

.active-nav-item {
  background-color: var(--purple-1);
  color: var(--purple-9);
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2);
  font-weight: var(--font-weight-6);
}

.alert {
  background-color: var(--orange-1);
  color: var(--orange-11);
  border: var(--border-size-1) solid var(--orange-7);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  text-align: center;
  display: flex;
  align-items: center;
  gap: var(--size-2);
  margin-bottom: var(--size-4);
}

.alert-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.alert-link {
  color: var(--orange-11);
  text-decoration: underline;
}

.loading-indicator {
  display: inline-block;
}

.loading-indicator.is-loading {
  opacity: 0.6;
  pointer-events: none;
  margin-left: 1rem;
}









